*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HERO SECTION */
.section-hero {
  display: flex;
  align-items: center;
}

.hero-img {
  width: 70rem;
  height: 30rem;
}
